@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your custom styles BELOW this line */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-900 transition-colors duration-300;
}

html.dark body {
  @apply bg-[#0b1220] text-gray-200;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideUp {
  from { transform: translateY(20px); opacity: 0 }
  to { transform: translateY(0); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}
